<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.wearwave.mapper.ItemsMapper">

	<update id="updateItem" parameterType="com.springboot.wearwave.model.Items_tbl">
	update items_tbl set item_title=#{item_title}, price=#{price}, content=#{content} where item_code = #{item_code}
	</update>
	
	<update id="updateItemSize" parameterType="com.springboot.wearwave.model.Item_size">
	update item_size set quantity=#{quantity} where item_code=#{item_code} and item_size=#{item_size}
	</update>
	
	<delete id="deleteItem" parameterType="String">
	delete from items_tbl where item_code = #{item_code}
	</delete>
	
	<select id="getMaxNum" resultType="Integer">
	select max(num) from items_tbl	
	</select>

	<update id="updateNum" parameterType="Integer">
		update items_tbl set num = num - 1 where num > #{num}
	</update>
	
	<select id="getMyItem" parameterType="String"  resultType="com.springboot.wearwave.model.Items_tbl">
	select * from items_tbl where item_code = #{item_code}
	</select>
	
	<select id="getMyItem_size" parameterType="String"  resultType="com.springboot.wearwave.model.Item_size">
	select item_size, quantity from item_size where item_code = #{item_code}
	</select>
	
	<select id="getMyItem_color" parameterType="String"  resultType="com.springboot.wearwave.model.Item_color">
	select item_color from item_color where item_code = #{item_code}
	</select>
	
	<select id="getItemList" resultType="com.springboot.wearwave.model.Items_tbl">
	select item_code, item_title, price, to_char(reg_date,'YYYY-MM-DD') "reg_date", imagename, user_id
	from items_tbl order by num
	</select>
	
	<select id="getMyItemList" parameterType="String" resultType="com.springboot.wearwave.model.Items_tbl">
	select item_code, item_title, price, to_char(reg_date,'YYYY-MM-DD') "reg_date", imagename, num
	from items_tbl where user_id = #{user_id} order by num 
	</select>
	
	<select id="checkDupCode" parameterType="String" resultType="Integer">
	select count(*) from items_tbl where item_code = #{item_code}
	</select>
	
	<insert id="putItems" parameterType="com.springboot.wearwave.model.Items_tbl">
	insert into items_tbl values(#{item_code},#{item_title},#{item_id}, #{price},
		sysdate,#{imagename},#{content},#{user_id},#{num})
	</insert>
	
	<insert id="putSize" parameterType="com.springboot.wearwave.model.Item_size">
	insert into item_size values(#{item_code},#{item_size},#{quantity})
	</insert>
	
	<insert id="putColor" parameterType="com.springboot.wearwave.model.Item_color">
	insert into item_color values(#{item_code},#{item_color})
	</insert>
	
	<delete id="deleteItem_size" parameterType="String">
	delete from item_size where item_code = #{item_code}
	</delete>
	
	<delete id="deleteItem_color" parameterType="String">
	delete from item_color where item_code = #{item_code}
	</delete>
	
	<select id="userIdbyItemList" parameterType="String" resultType="com.springboot.wearwave.model.Items_tbl">
	select item_code, item_title, price, to_char(reg_date,'YYYY-MM-DD') "reg_date", imagename, user_id from items_tbl where user_id = #{user_id}
	</select>
</mapper>