@charset "UTF-8";
/* 전체적인 페이지 스타일 */

h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

#header-container {
    display: flex;
    justify-content: space-between;  /* 양쪽 끝으로 배치 */
    align-items: center;  /* 세로 정렬 */
    margin: 20px;
}

/* 버튼 관련 스타일 */
#add-button-container {
    text-align: right;
    margin: 20px;
}

#add-image-btn {
    padding: 10px 20px;
    background-color: #005bb5;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}

#add-image-btn:hover {
    background-color: #007bb5;
}

/* 이미지 목록 테이블 스타일 */
#slider-table-container {
    margin-left: 140px;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1000px;
}

#slider-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#slider-table th, #slider-table td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

#slider-table th {
    background-color: #779bb5;
    color: white;
}

#slider-table td img {
    width: 100px;
    height: 60px;
    object-fit: cover;
}

/* 삭제 버튼 스타일 */
.delete-btn {
    padding: 8px 16px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.delete-btn:hover {
    background-color: #e53935;
}

/* 순서 변경 폼 관련 스타일 */
.order-label {
    font-size: 14px;
    margin-right: 10px;
}

.order-select {
    padding: 5px;
    font-size: 14px;
}

.order-btn {
    padding: 8px 16px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.order-btn:hover {
    background-color: #007bb5;
}

/* 폼 스타일 */
.delete-form, .order-form {
    display: inline-block;
    margin: 0;
}
