@charset "UTF-8";

    .faq-container {
    	margin-top: 25px;
    	padding: 20px;
    	padding-right: 40px;
        background: white;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        width: 1000px;
        text-align: center;
    }

    h2 {
        color: #333;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 15px;
        text-align: left;
    }

    label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }

    input, textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        
    }

    textarea {
        height: 200px;
        resize: none;
    }

    .submit-btn {
        width: 100%;
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

    .submit-btn:hover {
        background-color: #0056b3;
    }
